<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>MacFossils needs Apple Events to perform deletions with administrator privileges.</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>MacFossils wants to find leftovers from uninstalled apps on your Mac.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>MacFossils wants to find leftovers from uninstalled apps.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>MacFossils wants to find leftovers from uninstalled apps.</string>
	<key>NSHumanReadableCopyright</key>
	<string>MacFossils developed by Kevin Tobler -www.kevintobler.ch</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>MacFossils needs extended access to find all app leftovers.</string>
</dict>
</plist>
